.statistics {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;

  background-color: #fff;
}

.title {
  color: #6a6e73;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.179;
  padding: 30px 0 10px;
}

.stat-list {
  display: flex;
}

.item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  color: #111010;
  background-color: aquamarine;
}
