body {
  margin: 0;
  height: 100vh;
  background-color: #9db1c5;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}